<template>
    <div class="pt-5">
        <div v-if="subscriptions && subscriptions.length">
            <div class="card mb-3" v-for="subscription of subscriptions" v-bind:key="subscription.id">
                <div class="row no-gutters">
                    <div class="col-md-4">
                  
                    
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                       
                            <h5 class="card-title">Name :  {{ subscription.name }}</h5>
                            <p class="card-text">Expectations:  {{ subscription.expectation }}</p>
                            <p class="card-text">When it was Created:  {{ subscription.when_it_was_created }}</p>
                            <p class="card-text">Planned To Finish:  {{ subscription.planned_to_finished }}</p>
                            
                                
                            
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p  v-if="subscriptions.length == 0">No Expectations</p>
    </div>
</template>
<script>

import axios from 'axios';

export default {
    data() {
        return {
            subscriptions: [],
            when_it_was_created:localStorage.getItem('when_it_was_created'),
            token:localStorage.getItem('token'),
            username:localStorage.getItem('username')
        }
    },
    created() {
        this.all();
    },
    methods: {
        deleteSubscription: function(subscr) {
            if (confirm('Delete ' + subscr.name)) {
                axios.delete(`http://127.0.0.1:8000/api/subscriptions/${subscr.id}`)
                    .then( response => {
                        this.all();
                    });
            }
        },
        all: function () {
            axios.get('http://127.0.0.1:8000/api/archive/')
                .then( response => {
                    this.subscriptions = response.data
                });
        }
    },
}
</script>