<template>

    <div class="pt-5">
            <router-link to="/create" class="btn btn-sm btn-primary">Add Expectations</router-link>

        <form @submit.prevent="create" method="post">
            <div class="form-group">
            
                <label for="name">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="subscription.name"
                    v-validate="'required'"
                    name="name"
                  
                    placeholder="Enter name"
                    :class="{'is-invalid': errors.has('subscription.name') && submitted}" >
                <div class="invalid-feedback">
                    Please provide a valid name.
                </div>
            </div>
            
            
            <div class="form-group">
                <label for="description">expectation</label>
                <textarea
                    name="description"
                    class="form-control"
                    id="expectation"
                    v-validate="'required'"
                    v-model="subscription.expectation"
                    cols="30"
                    rows="2"
                    :class="{'is-invalid': errors.has('subscription.expectation') && submitted}"></textarea>
                <div class="invalid-feedback">
                    Please provide a valid expectation.
                </div>
            </div>
            <div class="form-group">
                <label for="expectations">planned_to_finished</label>
                <input
                    type="date"
                    name="planned_to_finished"
                    v-validate="'required'"
                    class="form-control"
                    id="planned_to_finished"
                    v-model="subscription.planned_to_finished"
                    placeholder="Enter planned_to_finished"
                    :class="{'is-invalid': errors.has('subscription.planned_to_finished') && submitted}">
                <div class="invalid-feedback">
                    Please provide a valid planned_to_finished.
                </div>
            </div>
            
           
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<script>

import axios from 'axios';

export default {
    data() {
        return {
            subscription: {
                name: localStorage.getItem('username'),
                expectation: '',
                planned_to_finished:'',
                token:localStorage.getItem('token'),
                username:localStorage.getItem('username'),
            },
            submitted: false
        }
    },
    methods: {
        create: function (e) {
            this.$validator.validate().then(result => {
                this.submitted = true;
                if (!result) {
                    return;
                }
                console.log(this.expectation)
                axios
                    .post('http://127.0.0.1:8000/api/expectation/',
                        this.subscription
                    )
                    .then(response => {
                        console.log(response.data.when_it_was_created)
                        
                        localStorage.setItem('when_it_was_created', response.data.when_it_was_created)
                        
                        this.$router.push('/index');
                    })
            });
        }
    },
}
</script>