<template>
    <div class="pt-5">
        <form @submit.prevent="update" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="subscription.name"
                    v-validate="'required'"
                    name="name"
                    placeholder="Enter name"
                    :class="{'is-invalid': errors.has('subscription.name') && submitted}">
                <div class="invalid-feedback">
                    Please provide a valid name.
                </div>
                
            </div>
            
            
            
            
            <div class="form-group">
                <label for="description">expectation</label>
                <textarea
                    name="expectation"
                    class="form-control"
                    id="expectation"
                    v-validate="'required'"
                    v-model="subscription.expectation"
                    cols="30"
                    rows="2"
                    :class="{'is-invalid': errors.has('subscription.expectation') && submitted}"></textarea>
                <div class="invalid-feedback">
                    Please provide a valid expectation.
                </div>
            </div>

            
           
           <div class="form-group">
                <label for="expectations">planned_to_finished</label>
                <input
                    type="date"
                    name="planned_to_finished"
                    v-validate="'required'"
                    class="form-control"
                    id="planned_to_finished"
                    v-model="subscription.planned_to_finished"
                    placeholder="Enter planned_to_finished"
                    :class="{'is-invalid': errors.has('subscription.planned_to_finished') && submitted}">
                <div class="invalid-feedback">
                    Please provide a valid planned_to_finished.
                </div>
            </div>

           

            <button type="submit" class="btn btn-primary">Submit</button>
            
        </form>
    </div>
</template>
<script>
import axios from 'axios';

export default {
    data() {
        return {
            subscription: {
                name: localStorage.getItem('username'),

                expectation: '',
                planned_to_finished:'',
               
               

            },
            submitted: true,
            name: localStorage.getItem('username'),
        }
    },
    mounted() {
        axios.get('http://127.0.0.1:8000/api/expectations/' + this.$route.params.id)
            .then( response => {
                console.log(response.data)
                this.subscription = response.data
            });
    },
    methods: {
        update: function (e) {
            this.$validator.validate().then(result => {
                this.submitted = true;
                if (!result) {
                    return;
                }
                axios
                    .put(`http://127.0.0.1:8000/api/expectations/${this.subscription.id}/`,
                        this.subscription
                    )
                
                    .then(response => {
                        this.$router.push('/');
                    })
                   
            });
        }
    },
}
</script>