<template>
<div class ="log-in">
<h4>Login Dashboard </h4>
<form @submit.prevent="submitForm">
<input type="username" name ="username" v-model="username">
<input type="password" name="password" v-model="password">
<button type ="submit">Log in </button>
</form>
</div>
</template>

<script>
import axios from 'axios'
export default {
    name:'Login',
    data(){
      return {
        username:'',
        password:'',
      }
    },
    methods:{
      submitForm(){
        
        const formData={
          username:this.username,
          password:this.password,
        }
        console.log(formData)
         axios
            .post('http://127.0.0.1:8000/api/user/login/',formData)
            .then(response => {
              console.log(response.data.token)
              
              const token = response.data.token
             

                    this.$store.commit('setToken', response.data.token)
                    axios.defaults.headers.common['Authorization'] = 'Token ' + response.data.token 
                    localStorage.setItem('token', response.data.token)
                    localStorage.setItem('username', response.data.username)
                    localStorage.setItem('helo', "ss")

                    this.$router.push('/create')
                    
                  //  this.$router.push({ name: 'foo', params: {title: 'test title',props: true }})
            })
            
            .catch(err => {
              
              console.log(err)
                })
      }

    }
}
</script>