<template>
    <div class="pt-5">
        <form @submit.prevent="create" method="post">
            <div class="form-group">
                <label for="name">Username</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="user.username"
                    v-validate="'required'"
                    name="name"
                    placeholder="Enter username"
                    :class="{'is-invalid': errors.has('user.username') && submitted}">
                <div class="invalid-feedback">
                    Please provide a valid username.
                </div>
            </div>
            <div class="form-group">
                <label for="name">password</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    v-model="user.password"
                    v-validate="'required'"
                    name="password"
                    placeholder="Enter password"
                    :class="{'is-invalid': errors.has('user.password') && submitted}">
                <div class="invalid-feedback">
                    Please provide a valid password.
                </div>
            </div>
            
            
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>


<script>
import axios from 'axios';

export default {
    data() {
        return {
            user: {
                username: '',
                currency: '',
                password: '',
            },
            submitted: false
        }
    },
    methods: {
        create: function (e) {
            this.$validator.validate().then(result => {
                this.submitted = true;
                if (!result) {
                    return;
                }
                // console.log(this.user)
                axios
                    .post('http://127.0.0.1:8000/api/usering/',
                        this.user
                    )
                    .then(response => {
                        this.$router.push('/log-in');
                    })
            });
        }
    },
}
</script>