<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
       <h3><router-link to ="/sign-up">Signup</router-link><br>
        <router-link to ="/log-in">Login</router-link></h3>
        

        <router-view />
        
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'

export default {
  name:'App',
  beforeCreate() {
    this.$store.commit('initializeStore')
    const token = this.$store.state.token
    if ( token ){
      console.log(token)

      axios.defaults.headers.common['Authorization'] = "Token " + token
    } else{
      axios.defaults.headers.common['Authorization'] = ''

    }
  }
}
</script>
